@page "/create-article"
@rendermode InteractiveServer

@inject ArticleService articleService
@inject NavigationManager navigationManager

@attribute [Authorize(Roles = "Admin, Contributor")]

<PageTitle>Create Article</PageTitle>

<div class="text-center">
    <form method="POST" @onsubmit="InsertArticle" style="
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;">
        <h1 class="display-4">Create an Article</h1>

        <input type="text" class="form-control" id="title" name="Title" placeholder="Enter a title"
            @bind="article.Title">

        <textarea class="form-control" id="body" name="Body" placeholder="Write your article here..." rows="10"
            @bind="article.Body"></textarea>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="text-danger mt-2">@errorMessage</div>
        }
        <div style="display: flex; gap: 12px;">
            <button type="submit" class="btn btn-primary">Publish Article</button>
            <div>
                <a href="/" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </form>
</div>

@code {
    private Article article { get; set; } = new Article();
    private string errorMessage = "";

    private async Task InsertArticle()
    {
        var result = await articleService.InsertArticleAsync(article);

        if (result == null)
        {
            errorMessage = "Failed to create the article. Please check your input and try again.";
        }
        else
        {
            navigationManager.NavigateTo("/");
        }
    }
}
