@page "/edit-article/{articleId:int}"
@rendermode InteractiveServer

@inject NavigationManager navigationManager
@inject ArticleService articleService

<h1>Edit Article</h1>

@if (isLoading)
{
    <div class="text-center">
        <p>Loading article...</p>
    </div>
}
else if (Model == null)
{
    <p>Article not found.</p>
}
else
{
    <form method="post" @onsubmit="UpdateArticle" style="display:flex; flex-direction: column; gap:24px;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input id="title" class="form-control" @bind="@Title" />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="body" class="control-label">Body</label>
            <textarea id="body" class="form-control" rows="10" @bind="@Body"></textarea>
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary" disabled="@isLoading" />
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="text-danger">@errorMessage</div>
        }

        <div>
            <a href="/" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
}


@code {
    [Parameter]
    public int articleId { get; set; }
    private Article? Model { get; set; }
    private bool isLoading = true;
    private string errorMessage = "";

    private string Title { get; set; } = "";
    private string Body { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await articleService.GetArticleByIdAsync(articleId);
            if (Model is not null)
            {
                // Set local values instead of directly binding to Model
                Title = Model.Title.ToString();
                Body = Model.Body.ToString();
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching article: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task UpdateArticle()
    {
        if (string.IsNullOrWhiteSpace(Title) || string.IsNullOrWhiteSpace(Body))
        {

            errorMessage = "Failed to update the article. Please check the input and try again.";
        
        } else {
            // Only update the Model when submitting
            Model.Title = Title;
            Model.Body = Body;

            var updatedArticle = await articleService.UpdateArticleAsync(Model);

            navigationManager.NavigateTo("/");
        }
    }
}
